.collection-method-list {
    > p {
        column-count: 3;
        column-gap: 2em;
    }

    a, code {
        display: block;
    }

    a > code {
        display: inline;
    }
}


// .collection-method-list {
//     > p {
//         column-count: 3;
//         column-gap: 2em;
//         grid-auto-rows: min-content;
//     }

    

//     a > code {
//         @apply .inline .p-0;

//         &:hover {
//             @apply .bg-transparent .rounded-none;
//         }
//     }
// }
